@import url(./commons/reset.css);


.effect{
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.effect ul{
    display: flex;
    justify-content: space-between;
}

.effect ul li{
    flex: 1;
    text-align: center;
    line-height: 60px;
    background-color: #eb70eb;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid;
    box-sizing: border-box;
}
.effect ul li:hover{
    background-color: #743874;
    color: #fff;
}

.effect-box{
    width: 100%;
    max-width: 800px;
    height: 300px;
    margin: 0 auto;
    background-color: #e2bae2;
}